<%- include('partials/header') %>

<h2>Agregar País</h2>
<% if (typeof errores !== 'undefined') { %>
  <ul style="color:red;">
    <% errores.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form action="/paises/agregar" method="POST">
  <label>Nombre Oficial (español): <input name="name.spa.official" required></label><br>
  <label>Capital: <input name="capital" required></label><br>
  <label>Fronteras: <input name="borders" required></label><br>
  <label>Área: <input name="area" type="number" required></label><br>
  <label>Población: <input name="population" type="number" required></label><br>
  <label>Gini: <input name="gini" type="number" step="0.01"></label><br>
  <label>Zonas horarias: <input name="timezones"></label><br>
  <button type="submit">Guardar</button>
</form>

<%- include('partials/footer') %>
